# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Testing
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Future storage
storage/

# Docker
*.tar